*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
}

#title{
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 700;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ccc;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
}

.menu button{
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0 3px #666;
}

.menu button:hover{
    background-color: rgb(198, 203, 203);
    transform: scale(1.1);
}

.menu button:active{
    transition: transform 0.3s ease;
    transform: scale(0.5);
}

#rainbowColor{
    background: rgb(195,34,43);
background: linear-gradient(0deg, rgba(195,34,43,1) 0%, rgba(199,35,110,1) 5%, rgba(201,35,139,1) 11%, rgba(204,35,186,1) 17%, rgba(151,36,207,1) 23%, rgba(135,36,210,1) 30%, rgba(42,37,214,1) 37%, rgba(38,147,218,1) 44%, rgba(39,221,201,1) 50%, rgba(40,226,49,1) 59%, rgba(134,230,41,1) 67%, rgba(188,234,42,1) 75%, rgba(231,239,43,1) 85%, rgba(243,164,44,1) 92%, rgba(253,45,45,1) 100%);
}

input[type="color"]{
    width: 150px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
}

.container{
    background-color: #ffffff;
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.size-Container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

#selectSize{
    width: 90px;
    height: 20px;
    font-size: 15px;
    border: 2px solid black;
}

#copyrightMessage{
    margin-top: 40px;
}